<app-spinner *ngIf="loadingTracker"></app-spinner>

<form [formGroup]="form">
  <ion-grid>
    <ion-row>
      <ion-col>Qual o pet?</ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-radio-group #radioTypeAnimal formControlName="breed" (ionChange)="changeTypeAnimal($event)">
          <div class="radio-container">
            <ion-item id="radio-canina">
              <ion-label color="light">Cachorro</ion-label>
              <ion-radio name="radio-dog" slot="start" value="canina" checked></ion-radio>
            </ion-item>
            <ion-item id="radio-felina">
              <ion-label color="light">Gato</ion-label>
              <ion-radio name="radio-cat" id="radio-cat" slot="start" value="felina"></ion-radio>
            </ion-item>
          </div>
        </ion-radio-group>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>Qual o sexo? </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-radio-group formControlName="gender" (ionChange)="changeTypeSex($event)">
          <div class="radio-container">
            <ion-item id="radio-sex-masculino">
              <ion-label color="light">Macho</ion-label>
              <ion-radio name="radio-sex-male" slot="start" value="masculino"></ion-radio>
            </ion-item>
            <ion-item id="radio-sex-feminina">
              <ion-label color="light">Fêmea</ion-label>
              <ion-radio name="radio-sex-female" id="radio-cat" slot="start" value="feminina">
              </ion-radio>
            </ion-item>
          </div>
        </ion-radio-group>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>O pet tem nome?</ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-input class="input-blank" formControlName="name" placeholder="Sem nome" class="input-blank" required></ion-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>Qual a raça?</ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-input class="input-blank" formControlName="specie" placeholder="Desconhecida" required></ion-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>Qual é a data de nascimento/adoção?</ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-datetime formControlName="birthday" required
          dayShortNames="domingo,segunda-feira,terça-feira,quarta-feira,quinta-feira,sexta-feira,sábado"
          displayFormat="DD/MM/YYYY"
          pickerFormat="DD MMM YYYY"
          monthShortNames="jan, fev, mar, abr, mai, jun, jul, ago, set, out, nov, dez"
          [max]="currentDate"></ion-datetime>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <!-- <ion-input class="input-blank" type="file"></ion-input> -->
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-button type="submit" expand="block" (click)="save()" [disabled]="form.invalid"> Salvar </ion-button>

  <ion-button color="danger" *ngIf="showDeleteButton" (click)="remove()" type="submit" expand="block">
    Excluir
  </ion-button>
</form>